
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="lkol">
    <img src="assets/search.png">
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trouvez le prestataire idéal<br>
pour tous les services du quotidien
</p>


<div  id="search" class="input-group col-md-6">
  <input (click)="search()"name="search" class="form-control py-4 " id="example-search-input">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary border-left-0 border" type="button">
      <i class="material-icons " style="font-size:22px">search</i>

    </button>
  </span>
</div>

</div >

