<div id="back">

  
    <div id=" " class="card-body p-5">
      <h3 >Améliorez votre quotidien grâce au jobbing</h3>
      <div class="card-deck">
          <div class="card">
           
            <div class="card-body">
              <h6 style="text-align:center;" id="title1" class="card-title">Besoin d'aide ? Trouvez quelqu'un pour vous aider</h6>
              <p class="card-text"><br>&nbsp;• Déléguez vos tâches du quotidien<br><br>
                &nbsp;• Faites-vous aider par des jobeurs compétents et évalués<br><br>
                &nbsp; • Gagnez du temps et économisez de l’argent<br><br>
                &nbsp; • Simplifiez-vous la vie et profitez de votre temps libre<br><br></p>
                <div class=" text-center"> 
                    <button id="singlebutton" name="singlebutton" class="btn btn-success"(click)="openb()" >Inscription</button> 

                                  </div>
            </div>
          </div>
          <div class="card">
           
              <div class="card-body">
                  <h6 style="text-align:center;" id="title2" class="card-title">Réalisez des jobs et augmentez vos revenus</h6>
                  <p class="card-text"><br>&nbsp;• Gagnez un complément de revenus en pratiquant le jobbing<br><br>
                    &nbsp;• Lancez votre activité de services en 5 minutes<br><br>
                    &nbsp; • Développez votre clientèle<br><br>
                    &nbsp; • Gagnez en moyenne 350 dt/mois<br><br></p>
                    <div class=" text-center"> 
                        <button id="singlebutton" (click)="open()" name="singlebutton" class="btn btn-primary">Inscription</button> 
                    </div>
                </div>
              </div>
          </div>
 

  </div>